.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content-section {
  margin: 100px 100px 60px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text-section {
  width: 570px;
  height: 315px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 0;
}

.text-section .title-text {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  height: 192px;
  width: 100%;
}

.text-section .description-text {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 569px;
  height: 208px;
}

.image-section .mentor-image {
  width: 607px;
}

.arrow-section .down-arrow {
  /* Add any specific styling for the arrow here */
}


@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: auto;
    margin-bottom: 30px;
  }

  .content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    height: fit-content;
    align-items: center;
  }

  .image-section {
    margin-top: 20px;
    order: -1;
  }

  .image-section .mentor-image {
    width: 300px;
    height: auto;
  }

  .arrow-section {
    margin-top: 20px; /* Add space between the image and the arrow */
  }

  .text-section {
    width: 100%;
    padding: 0px;
    margin: 0;
    height: auto;
  }
  .text-section .title-text {
    font-size: 24px;
    margin: 0;
    height: auto;
  }

  .text-section .description-text {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
    margin: 0;
  }

 
  
  .find-mentor-button {
    width: 90%;
    height: 50px;
    border: 1px solid #191e22;
    border-radius: 50px;
    /* margin-top: 140px; */
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
    margin: auto;
  }


}
