.home.client-say-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
  align-items: center;
  padding: 1rem;
}

.home-client-say-title {
  max-width: 100%;
  width: 100%;
  max-width: 580px;
  margin-bottom: 1rem;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  text-align: center;
}

.home-client-say-intro {
  width: 100%;
  max-width: 1024px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.home-client-say-quote {
 width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 46px;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}

/* Responsive styles */
.home.client-say-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 5rem;
  align-items: center;
  padding: 1rem;
}

.home-client-say-title {
  max-width: 100%;
  width: 100%;
  max-width: 580px;
  margin-bottom: 1rem;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  text-align: center;
}

.home-client-say-intro {
  width: 100%;
  max-width: 1024px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.home-client-say-quote {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 46px;
  font-style: italic;
  text-align: center;
  margin-bottom: 2rem;
}

.home-client-say-slide {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}


.testimonial-card-name {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

.testimonial-card-role {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home.client-say-container {
    margin-top: 0px;
    gap: 1rem;
    padding: 5px;
  }

  .home-client-say-title {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .home-client-say-intro {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }

  .home-client-say-quote {
    font-size: 1.1rem;
    line-height: 1.5;
    padding: 0;
    width: fit-content;
    height: auto;
  }

  .home-client-say-slide {
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
}



